<div class="login-register-form">
  <h1>Register</h1>

  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">Please enter a valid email address</mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('required')">Email is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
      <mat-error *ngIf="registerForm.get('username').hasError('required')">Username is <strong>required</strong></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="registerForm.get('password').hasError('required')">Password is <strong>required</strong></mat-error>
      <mat-error *ngIf="registerForm.get('password').hasError('minlength')">Password must be at least 8 characters</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confirm">
      <mat-error *ngIf="registerForm.get('confirm').hasError('matchpassword')">Password does not match</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="registerForm.status === 'INVALID'">Sign up</button>

    <p class="additional">
      Already register? Please <a routerLink="/login">login</a>
    </p>
  </form>
</div>
