<div class="login-register-form">
  <h1>Change password</h1>

  <form [formGroup]="passwordForm" (ngSubmit)="submit()">

    <mat-form-field>
      <input type="password" matInput placeholder="Old Password" formControlName="oldPassword">
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="passwordForm.get('password').hasError('required')">Password is <strong>required</strong></mat-error>
      <mat-error *ngIf="passwordForm.get('password').hasError('minlength')">Password must be at least 6 characters</mat-error>
      <mat-error *ngIf="passwordForm.get('password').hasError('passwordStrength')">Password must have at least one letter, one number and one special characters</mat-error>
    </mat-form-field>
    <ng2-password-strength-bar
        [passwordToCheck]="passwordForm.get('password').value"
        [barLabel]="barLabel"
        [barColors]="myColors">
    </ng2-password-strength-bar>

    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confirm">
      <mat-error *ngIf="passwordForm.get('confirm').hasError('matchpassword')">Password does not match</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="passwordForm.status === 'INVALID'">Change</button>
  </form>
</div>
