.sidebar-group {
  padding: 0 15px;
  margin-top: 24px;

  .group-name {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  .group-list {
    margin-top: 12px;

    .item {
      padding: 4px 0 4px 10px;
    }
  }
}